In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [8]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [13]:
pd.Series(d)   #

a    10
b    20
c    30
dtype: int64

In [14]:
d

{'a': 10, 'b': 20, 'c': 30}

In [15]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [17]:
pd.Series(data=labels)   #pandas can any type of data as data points

0    a
1    b
2    c
dtype: object

In [18]:
pd.Series(data=[sum , print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [19]:
ser1=pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [21]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [22]:
ser2=pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [23]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [24]:
ser1['USA']

1

In [25]:
ser3=pd.Series(data=labels)

In [26]:
ser3

0    a
1    b
2    c
dtype: object

In [27]:
ser3[1]

'b'

In [28]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [29]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [30]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64