In [2]:
def times2(var):
    return var*2

In [3]:
times2(5)

10

In [4]:
#map

In [5]:
seq=[1,2,3,4,5]

In [7]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [8]:
def times3(var):return var*3

In [9]:
times3(5)

15

In [11]:
list(map(times3,seq))

[3, 6, 9, 12, 15]

In [14]:
t=lambda var:var*2

In [15]:
t(6)

12

In [16]:
list(map(t,seq))

[2, 4, 6, 8, 10]

In [17]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [19]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

In [21]:
list(map(lambda var:var%2==0,seq))

[False, True, False, True, False]

In [22]:
s='hello my name is Nirmal'

In [23]:
s.lower()

'hello my name is nirmal'

In [24]:
s.capitalize()

'Hello my name is nirmal'

In [26]:
s.upper()

'HELLO MY NAME IS NIRMAL'

In [27]:
s.split()

['hello', 'my', 'name', 'is', 'Nirmal']

In [28]:
tweet='Go Sports! #Sports'

In [29]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [30]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [31]:
tweet.split('#')[1]

'Sports'

In [32]:
d={'k1':1,'k2':2}

In [33]:
d

{'k1': 1, 'k2': 2}

In [34]:
d.keys()

dict_keys(['k1', 'k2'])

In [35]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [38]:
d.values()

dict_values([1, 2])

In [40]:
lst=[1,2,3]

In [41]:
lst

[1, 2, 3]

In [42]:
lst.pop()

3

In [43]:
lst

[1, 2]

In [44]:
lst=[1,2,3,4,5]

In [45]:
lst

[1, 2, 3, 4, 5]

In [46]:
item=lst.pop()

In [47]:
item

5

In [48]:
first=lst.pop(0)

In [49]:
first

1

In [50]:
lst

[2, 3, 4]

In [51]:
lst.append('new')

In [52]:
lst

[2, 3, 4, 'new']

In [53]:
'x' in [1,2,3]

False

In [54]:
'x' in ['x','y','z']

True

In [55]:
x=[(1,2),(3,4),(5,6)]

In [57]:
x[0]

(1, 2)

In [58]:
x[0][1]

2

In [60]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [61]:
for (a,b) in x:
    print(a)

1
3
5

In [62]:
for (a,b) in x:
    print(b)

2
4
6